/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display SC", serif;
  list-style: none;
  text-decoration: none;
  background-color: rgba(30, 31, 31, 0.9);
}
/*h2.map{
    color:rgba(201, 201, 195, 0.75);
    text-align: center;

}*/
#map{
    display: inline-block;
    color: #b3aa99;
    flex-direction: column;
    align-items: center;
}

header {
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 31, 31, 0.9);
  z-index: 2;
  background-size: cover;
  overflow: hidden;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  position: relative;
  z-index: 5;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.75),
    0px 0px 15px 5px rgba(109, 109, 108, 0.75);
}

.bar-btn {
  position: relative;
  z-index: 1;
  font-size: 25px;
  color: rgba(255, 255, 190, 0.75);
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 0vh;
  top: 100px;
  background-image: linear-gradient(
    to left top,
    #0d0d0d,
    #111110,
    #151512,
    #191915,
    #1d1d17,
    #21211a,
    #25261c,
    #292a1f,
    #2d2e21,
    #313224,
    #353626,
    #3a3a29,
    #3e3e2c,
    #42422e,
    #464631,
    #4a4a33,
    #4e4e36,
    #525338,
    #56573b,
    #5a5b3d,
    #5e5f40,
    #626342,
    #666745
  );
  text-align: center;
  transition: all 0.5s;
  padding-top: 1px;
}

.nav-menu li {
  display: none;
  line-height: 50px;
  margin: 50px 0;
  transition: all 0.5s;
}

.nav-menu li a {
  color: rgba(201, 201, 195, 0.75);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px #0d0d0d;
  filter: brightness(0.8);
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: rgba(197, 197, 121, 0.75);
  transition: 0.5s;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.75),
    0px 0px 15px 5px rgba(109, 109, 108, 0.75);
  filter: brightness(1.2);
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 80vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

.carrousel-text {
  z-index: 1;
}

.container-slider {
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 190, 0.75),
    0px 0px 3px 2px rgba(109, 109, 108, 0.75);
}

.slider {
  display: flex;
  width: 400%;
  height: 600px;
  margin-left: -100%;
}

.slider-section {
  width: 100%;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
}

.slider-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #4d463796;
  color: #b3aa99;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn:hover {
  color: #fff9e6;
}

.slider-btn-right {
  right: 15px;
}

.slider-btn-left {
  left: 15px;
}

/* Responsive for desktop*/

@media screen and (min-width: 768px) {
  .logo {
    width: 140px;
    margin-left: 50px;
  }

  nav {
    height: 150px;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
    transition: none;
  }

  .nav-menu li a {
    font-size: 15px;
  }

  .slider-btn {
    top: 75%;
  }
}
