/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


 header {
    width: 100%;
    height: fit-content;
    background-color: rgba(30, 31, 31, 0.9);
    z-index: 2;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 40px;
}

.wedding nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.wedding .logo {
    margin-left: 20px;
    position: relative;
    z-index: 5;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75),
    0px 0px 15px 5px rgba(109, 109, 108, 0.75);  
}

.wedding .bar-btn {
    position: relative;
    z-index: 1;
    font-size: 25px;
    color:rgba(255, 255, 190, .75);
    margin-right: 20px;
    cursor: pointer;
}

.wedding .nav-menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-image: linear-gradient(to left top,
    #0d0d0d,
    #111110,
    #151512,
    #191915,
    #1d1d17,
    #21211a,
    #25261c,
    #292a1f,
    #2d2e21,
    #313224,
    #353626,
    #3a3a29,
    #3e3e2c,
    #42422e,
    #464631,
    #4a4a33,
    #4e4e36,
    #525338,
    #56573b,
    #5a5b3d,
    #5e5f40,
    #626342,
    #666745);    
    text-align: center;
    transition: all .5s;
    padding-top: 1px;
}

.wedding .nav-menu li {
    display: none;
    line-height: 50px;
    margin: 50px 0;
    transition: all .5s;

}

.wedding .nav-menu li a{
    color:rgba(201, 201, 195, 0.75);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px #0d0d0d;
    filter: brightness(0.8);
}

.wedding .nav-menu li a.active, .nav-menu li a:hover{
    color: rgba(197, 197, 121, 0.75);
    transition: .5s;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75),
    0px 0px 15px 5px rgba(109, 109, 108, 0.75);  
    filter: brightness(1.2);
}

.wedding #check{
    display: none;
}

.wedding #check:checked ~ .nav-menu{
    height: fit-content;
}

.wedding #check:checked ~ .nav-menu li{
   display: block;
}

.wedding .carrousel-text{
    z-index: 1;
}


.wedding .container-slider{
    z-index: -1;
    width: 97%;
    margin: 0 auto;
    overflow: hidden; 
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 190, .75),
    0px 0px 3px 2px rgba(109, 109, 108, 0.75);   
    border-radius: 5px; 
}

.wedding .slider{
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
}

.wedding .slider-section{
    width: 100%;
}

.wedding .slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
}

.wedding .slider-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
}

.wedding .slider-btn{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #4d463796;
    color: #B3AA99;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.wedding .slider-btn:hover{
    color: #FFF9E6;
}

.wedding .slider-btn-right{
    right: 15px;
}

.wedding .slider-btn-left{
    left: 15px;
}


.wedding main{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.wedding .description{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 30px;
    background-color: white;
}

.wedding .desc-text{
    margin: 30px auto 0px;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.3;
}

.wedding .desc-img{
    width: 100%;
    height: 180px;
}

.wedding .desc-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.wedding .plano{
    margin: 10px auto;
    width: 80%;
    height: 180px;
    align-items: center;
    display: flex;
    object-fit: fill;
}


.wedding .background-color{
    background: url('/images/wedding-5.jpg');
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    margin: auto;
    position: absolute;
}

.wedding .slide-text{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wedding .frases{
    overflow: hidden;
}

ul, li {
    list-style: none;
}

.wedding .text-ul {
    width: 100%;
    padding: 15px;
    height: 70px;
    position: relative;
    animation: slide 5s cubic-bezier(.55,.09,.68,.53) infinite; 
    margin: auto;
}

.wedding .text-li {
    width: 100%;
    position: relative;
    height: 70px;
    top: 150%;
    line-height: 70px;
    font-size: 18px;
    font-style: italic;
    color: rgb(8, 8, 8);
    text-shadow: 1px 1px white;
    font-weight: bold;
}

li:first-child{
    top: 100%;
}

li:last-child{
    top: 300%;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    15%, 30% {
        transform: translateY(-100%);
    }
    45%, 60% {
        transform: translateY(-200%);
    }
    75%, 90% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}

/* Responsive for desktop*/

@media screen and (min-width: 760px){
    .wedding .logo {
        width: 140px;
        margin-left: 50px;
    }

    .wedding nav {
        height: 150px;
    }

    .wedding .bar-btn{
        display: none;
    }

    .wedding .nav-menu {
        position: relative;
        height: 100px;
        top: 0; 
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .wedding .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 15px;
        transition: none;
    }

    .wedding .nav-menu li a {
        font-size: 15px;
    }

    .wedding .slider-btn{
        top: 75%;
    }

    .wedding .slider-img{
       bottom: 80px;
    }

    .wedding .description{
        flex-direction: row;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .wedding .desc-text{
        width: 50%;
        padding-right: 30px;
        line-height: 1.4;
    }

    .wedding .desc-img{
        margin-top: 20px;
        width: 50%;
        height: 210px;
    }

    .wedding .plano{
        margin-top: 20px;
        height: 400px;
    }

    .wedding .text-li {
        font-size: 36px;
    }

}