/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Playfair Display SC', serif;
    list-style: none;
    text-decoration: none;
}


header {
    width: 100%;
    height: 100%;
    background-color: rgb(94, 95, 95);
    z-index: 9;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 140px;
    left: 20px;
    margin: auto;
}

.bar-btn {
    font-size: 25px;
    color:rgba(255, 255, 190, .75);
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0,0,0,.95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color:rgba(201, 201, 195, 0.75);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgba(255, 255, 190, .75);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
   display: block;
}

.carrousel-text{
    z-index: 1;
}


.container-slider{
    z-index: -1;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; 
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75),
    0px 0px 15px 5px rgba(109, 109, 108, 0.75);    
}

.slider{
    display: flex;
    width: 400%;
    height: 600px;
    margin-left: -100%;
}

.slider-section{
    width: 100%;
}

.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
}

.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #4d463796;
    color: #B3AA99;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider-btn:hover{
    color: #FFF9E6;
}

.slider-btn-right{
    right: 15px;
}

.slider-btn-left{
    left: 15px;
}


/* Responsive for desktop*/

@media screen and (min-width: 768px){
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0; 
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 12px;
    }

}